@model ChooseOther
@{
    ViewBag.Title = "title";
    Layout        = "_Layout";
}

<div class="col-md-6">
    <div class="form-floating mb-3">
        <select  class="form-control" placeholder="">

        </select>
        <label>Choose Role</label>
    </div>
    
    <partial name="ModifyOther"/>
</div>